Source: cutie-meta
Maintainer: Erik Inkinen <erik.inkinen@erikinkinen.fi>
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/cutie-shell/cutie-meta
Vcs-Git: https://github.com/cutie-shell/cutie-meta.git

Package: cutie-minimal
Architecture: all
Depends: ${misc:Depends},
         cutie-shell-config,
         cutie-wlc,
         cutie-panel,
         cutie-home,
         cutie-launcher,
         cutie-keyboard,
         cutie-atmospheres-default,
         cutie-settings,
         cutie-icon-theme,
         cutie-sound-theme,
         cutie-sound-theme-as-default,
         qt6-wayland,
         qtwayland5,
         libqt6svg6,
         at-spi2-core,
         flatpak,
         fonts-noto,
         fonts-noto-cjk,
         fonts-noto-color-emoji,
         fonts-noto-mono,
         fonts-noto-ui-core,
         wayland-protocols,
         plymouth,
         lm-sensors,
Conflicts: droidian-phosh-minimal
Description: Metapackages - minimal Cutie environment
 This metapackage depends on a bunch of essential
 packages for an installation with
 the Cutie Shell.

Package: cutie-phone-full
Architecture: all
Depends: ${misc:Depends},
         cutie-minimal (= ${binary:Version}),
         cutie-phone,
         cutie-messaging,
         mobile-broadband-provider-info,
         device-chassis-handset,
Conflicts: droidian-phosh-phone
Description: Metapackages - addons for mobile phones
 This metapackage depends on a bunch of packages that
 make phone-related stuff work on Cutie.

Package: cutie-full
Architecture: all
Depends: ${misc:Depends},
         cutie-minimal (= ${binary:Version}),
         cutie-browser,
         cutie-contacts,
         cutie-music,
Conflicts: droidian-phosh-full
Description: Metapackages - full Cutie environment
 This metapackage depends on a bunch of packages that make
 the Cutie Shell UX more complete.

Package: cutie-devtools
Architecture: all
Depends: ${misc:Depends},
         cutie-terminal,
         cutie-widget-playground,
Description: Mmetapackages - Cutie devtools
 This metapackage depends on a bunch of packages that
 aid development in Cutie.

Package: droidian-cutie-minimal
Depends: cutie-minimal, droidian-base, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: droidian-cutie-phone
Depends: cutie-phone-full, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: droidian-cutie-full
Depends: cutie-full, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.
